body {
  width: 100%;
  padding: 2% 5%;
}

.grid-container {
  display: grid;
  grid-template-columns: 65% 20% 15%;
}

.grid-item {
  margin: 0;
}

.grid-button {
  text-align: right;
  margin: 5% 0;
  font-size: 18px;
  width: 100%;
}

button {
  font-size: 18px;
  width: 100%;
  height: 50px;
}

/*Dropdown styling */
.dropbtn {
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin: 8.547px 0;
  margin-right: 15px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #f5f7f6;}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: #f5f7f6;;
}
/*Dropdown styling ends*/

.box {
  position: relative;
  width: 100%;
  height: 230px;
  border:1px solid #333;
  border-radius:5px;
  padding:25px 20px 20px 20px;
  text-align: center;
}

input {
  position: absolute;
  left: 10px;
  top: 10px;
}
